[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
validators = "*"
pyqt5-stubs = "==5.15.2.0"

[dev-packages]
pylint = "*"
pyqt5 = "*"
pyqt5designer = "*"

[requires]
python_version = "3.10"
